/*External css for portfolio page*/
body{
	background-color: #f1f1f1;
	font-family: montserrat;
}
h1 {
	font-size: 56px;
	font-family: 'Lora', serif;
	margin: 0px;
	text-align: center;
	color: white;
}
h2 {
	font-size: 33px;
	font-family: 'Oswald', sans-serif;
}
h3 {
	font-size: 22px
	font-family: 'Oswald', sans-serif;
}
h4{
	font-size: 70px;
	font-family: 'Patrick Hand', cursive;
	margin: 10px;
	color: black;
}
p{
	font-size: 15px;
	text-align: justify;
	text-align: left;
}
